/*html { 
    background: url("C:/Users/Lenovo/Desktop/ну типа/img/background.png");
}*/

#header_thing {
    text-align: center;
    font-family: Verdana;
}

#for_font, #leg, .text_in_comment, .footer_text {
    font-family: Verdana;
}

#for_center {
    text-align: center;
}

table, td, tr {
    border: 1.75px solid black;
    margin: auto; /* Выравнивае таблицы по центру */
}

p {
    color: rgb(148, 4, 4);
}

h1 {
    font-size: 3em;
}

p, h1 {
    background-color: blueviolet;
}

.de_artikle .list_el {
    color: rgb(255, 0, 255)
}

li, td { font-style: italic; }
#col1 { color: rgb(165, 0, 0); }
#col2 { color: rgb(33, 163, 0); }

.table_name { 
    font-size: 1.2em; 
    text-align: center;
}

.cells_in_table { 
    font-size: 0.9em; 
    text-align: center;
}

input[type='text'], textarea {
    background-color: rgb(241, 241, 241);
}

a[href] {
    text-decoration: none; /* Убирает форматирование текста (как минимум нижнее подчёркивание точно) */
    color: rgb(0, 81, 255);
}

#foo1, #foo2, #foo3 {
    font-size: 0.9em;
}

#foo1 { float: left }
#foo3 { float: right }

.footer_text {
    display: flex; /* Позволяет блоку смещаться (мне в данном случае нужно для оцентровки */
    justify-content: space-between; /* Равномерно распределяет расстояние между блоками */
    align-items: center; /* Непосредственно оцентровка */
    padding: 0px 100px 0px 100px;
}
