* {
    font-family: verdana;
}

header {
    display: flex;
    justify-content: center;
    border: 6px rgb(255, 105, 105) solid;
    height: 75px;
    width: 500px;
    border-radius: 10px;
    margin: 0 auto;
}

.wrap-content {
    flex-direction: row;
    display: flex;
}

.wrap, aside  {
    margin: 10px;
    padding: 10px;
}

aside {
    width: 40%;
    border: 6px rgb(165, 255, 105) solid;
    border-radius: 10px;
}

.wrap {
    width: 60%;
    border: 6px rgb(105, 213, 255) solid;
    border-radius: 10px;
}

footer {
    border: 6px rgb(150, 105, 255) solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 75px;
    width: 700px;
}
