<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Изменено для возможности скроллинга */
  background: #212529 !important;
  color: white; /* Добавлено для изменения цвета текста */
}

#container {
  max-width: 800px; /* Добавлено для ограничения ширины контента */
  padding: 20px;
  box-sizing: border-box; /* Добавлено для корректного расчета размеров элемента */
  color: black;
  font-family: Verdana;
}

#firstDiv, #secondDiv {
  text-align: center;
  background: white;
  margin-top: 20px; /* Изменено для создания отступа между дивами */
  border-radius: 20px;
  padding: 10px;
  overflow: auto;
  padding: 20px ;
}

#firstDiv button {
  margin-bottom: 10px; /* Добавлено для создания отступа между кнопкой и вторым дивом */
}
    </style>
</head>
<body>
    <div id="container">

      <div  id="secondDiv">
        USER AGREEMENT
      </div>

        <div id="firstDiv">
          Revision dated December 21, 2023,
          will come into effect from January 5, 2024

          This User Agreement (hereinafter referred to as
          the "Agreement") governs the relation between
          “Selectel”, Co. Ltd., with principal state registration
          number 1089847357126, hereinafter "Contractor",
          and you – general public (individuals and legal
          entities) which wants to use functionality and
          services provided by the Contractor (hereinafter
          referred to as "You", the "Customer").

          Please carefully read this Agreement, which is a
          public offer pursuant to Article 437 of the Civil
          Code of the Russian Federation. If you are
          registered in the Control Panel under the
          Customer's Account and any of the following
          events occur: replenishment of the Personal
          Account or start of using the services, in this case
          the Parties shall acknowledge the moment of start
          of using the services as the moment of service
          activation, including activation performed by the
          Contractor upon Customer’s request, it shall be
          considered that you have fully read and
          understood the Agreement and accept it
          completely and unconditionally pursuant to Article
          438 of the Civil Code of the Russian Federation. If
          you do not accept this Agreement or do not agree
          with any terms and conditions of this Agreement,
          we kindly ask you not to register in the Control
          Panel under the Customer's Account, not to
          replenish the Balance and not to use the services
          of the Contractor. If the Contractor makes any
          amendments to this Agreement and you do not
          agree with these amendments, you shall stop
          using the services of the Contractor.
        </div>
        <div id="secondDiv">
          This User Agreement (hereinafter referred to as the Agreement) regulates the relationship between the owner (hereinafter referred to as SHIIT or Administration) on the one hand and the user of the site on the other.
          SHIIT website is a mass media.

          By using the site, you agree to the terms of this Agreement.
          If you do not agree to the terms of this agreement, do not use the SHIIT site!

          Rights and obligations of the parties
          The user has the right:
          - search for information on the site
          - receive information on the site
          - create information for the site
          - distribute information on the site
          - comment on content posted on the site
          - change user ratings
          - copy information to other sites with indication of the source
          - copy information to other sites with the permission of the site Administration
          - copy information to other sites with the permission of the copyright holder
          - demand from the administration to hide any information about the user
          - demand from the administration to hide any information provided by the user to the site
          - use the site information for personal non-commercial purposes
          - to use the site information for commercial purposes with the permission of the Administration
          - to use the site information for commercial purposes with the permission of the right holders
          - use site information for commercial purposes without special permission

          Administration has the right:
          - at its discretion and necessity to create, modify, cancel the rules
          - restrict access to any information on the site
          - create, modify, delete information
          - delete accounts
          - refuse registration without explanation

          The user undertakes to:
          - ensure the reliability of the information provided
          - ensure the safety of personal data from access by third parties
          - to update the Personal Data provided during registration in case of their change
          - not to copy information from other sources
          - when copying information from other sources, to include information about the author in it
          - not to disseminate information that is aimed at war propaganda, incitement of national, racial or religious hatred and hostility, as well as other information for the dissemination of which criminal or administrative liability is stipulated
          - do not disrupt the functionality of the site
          - not to create several accounts on the Site, if they actually belong to the same person.
          - not to commit actions aimed at misleading other Users
          - not to give your account and/or your account login and password to third parties for use
          - not to register an account on behalf of or in place of another person, except as provided for by the laws of the Russian Federation
          - not to post advertising, erotic, pornographic or offensive materials, as well as other information, the placement of which is prohibited or contrary to the norms of the current legislation of the Russian Federation.
          - not to use scripts (programs) for automated collection of information and/or interaction with the Site and its Services.

          The Administration undertakes to:
          - to maintain the operability of the Site except for cases when it is impossible for reasons beyond the control of the Administration.
          - to provide multilateral protection of the User's account
          - protect information, the distribution of which is restricted or prohibited by law by issuing a warning or deleting the account of the User who violated the rules
          - provide all available information about the User to authorized government authorities in cases prescribed by law.

          Responsibility of the parties
          - the user personally bears full responsibility for the information he disseminates
          - the administration bears no responsibility for the accuracy of information copied from other sources
          - the administration is not responsible for any discrepancy between the services expected by the User and actually received by the User
          - the administration does not bear any responsibility for the services provided by third parties
          - in case of force majeure situation (hostilities, state of emergency, natural disaster, etc.) Administration does not guarantee the safety of information posted by the User, as well as uninterrupted operation of the information resource.

          Terms of the Agreement
          This Agreement comes into force at any use of this site.
          The Agreement ceases to be in force when its new version appears.
          Administration reserves the right to unilaterally change this agreement at its discretion.
          Administration does not notify users about changes in the Agreement.
        </div>
    </div>
</body>
</html>