.box p {
    color: red;
}

hr {
    border-width: 5px;
}

#T1 > p {
    background-color: red;
}

#T2 ~ p.T2 {
    background-color: rgb(30, 255, 0);
}

#T3 + p {
    background-color: lightblue;
}

a[href="https://www.google.com"]:hover {
    font-weight: bold;
    color: red;
}

a[href="https://yandex.ru"]:link{
    background: black;
    color: violet;
}

a[href="https://yandex.ru"]:visited {
    background-color: gray;
    color: red;
}

a[href="https://yandex.ru"]:hover {
    font-size: large;
}

a[href="https://yandex.ru"]:active {
    background: greenyellow;
}

.fstCh:first-child{
    color: aquamarine
}

.ul1 li:first-child {
    color:chartreuse
}

.sndCh p:first-child i {
    color: blue;
    font-family: Verdana;
}

.trdCh p > i:first-child {
    color: rgb(0, 255, 4);
    font-family: Verdana;
}

.ul2 li:first-child {
    color:red;
    font-weight: bold;
}

.ul3 li:last-child {
    color:crimson;
    font-family: Verdana;
}

span,
div em {
  padding: 5px;
  border: 1px solid green;
  display: inline-block;
  margin-bottom: 3px;
}

.first span:nth-child(2n + 1), 
.second span:nth-child(2n + 1) {
  background-color: lime;
}

.bevor::before{
    content: url(https://cdn.discordapp.com/attachments/609574777686065182/1163006210103058462/FNs14E0ldck.png?ex=6559b070&is=65473b70&hm=2dfc95f249c21986f653368aa756333bc8cb60b36eb4d57846b28751980bd8fb&);
}

a[href="#"]::after{
    content: url(https://cdn.discordapp.com/emojis/1075223774737223740.webp?size=128&quality=lossless);
}

.fourCh::first-line {
    color: red;
}

.container h1{
    color: blue;
}

.container h2{
    background: blue;
    color:white
}

.container p > span{
    font-size: 200%;
}
